body{
    margin: 0px;
    
}
.flex-all{
    display: flex;
    margin-bottom: 100px;
}
.h1class{
    color:orange;
}
h1{
    font-size: 50px;
}
.text1div{
    width: 50%;
    padding: 10px 40px;
    text-align: justify;
}
p{
    font-size: 20px;
}

.link1{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.pic1-div{
    width: 50%;
}
.pic1{
    width: 80%;
    padding-left: 20px;
}
.para1{
padding-top: 25px;

}
.full_baby{

width: 30%;
padding: 12px;
margin: 5%;
border-radius: 20px;
text-align: justify; 

}
.pic2{
    width: 70%;
}
.second-h{
    text-align: center;
}
span{
    color: orangered;
}
#misson1{
    background-color: rgb(204, 226, 226);
}
#misson2{
    background-color: rgb(231, 210, 217);
}
#misson3{
    background-color: rgb(207, 236, 216);
}
.third-sec{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin: 10px;
}
.pic2{
    width: 60%;
    padding-left: 15%;
}
.pic2-div{
    width: 40%;
}
.text2div{
    width: 55%;
    text-align: justify;
}
.pic4{
    width: 60%;
    padding-top: 10%;
    
}
.fourth-sec{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 15%;
}