body{
    margin: 0px;
}
section{
    display: flex;
}
.h1class{
    color:orange;
}
h1{
    font-size: 50px;
}
.text1div{
    width: 50%;
    padding: 10px 40px;
    text-align: justify;
}
.link1{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.pic1-div{
    width: 50%;
}
.pic1{
    width: 80%;
    padding-left: 20px;
}
.footer1{
padding-top: 25px;
}